:root {
    /* Colors */
    --dark-color-one: #0E0E0E;
    --gray-color-one: #292929;
    --base-color: #1F2430;
    --acent-one-color: #4930EE;
    --acent-two-color: #07F0FF;
    --color-white: #fff;
    --color-green: #28E547;
    --color-orange: #ED930B;
    --color-red: #F3305F;

    /*font-size*/
    --twenty-eight: 28px;
    --twenty-four: 24px;
    --twenty: 20px;
    --eightteen: 18px;
    --sixteen: 16px;
    --fourteen: 14px;

    /*font-family*/
    --text-titles: 'Righteous', cursive;
}

.nav-container {
    background-color: var(--dark-color-one);
    height: 100px;
    padding: 0 34px 0 34px;
}

/* .img-header-style {
    height: 457px;
    position: relative;
    z-index: -1;
}
 */
.content-img-banner {
    height: 457px;
    background: linear-gradient(180.08deg, #0E0E0E -9.98%, rgba(14, 14, 14, 0.0677083) 34.67%, rgba(14, 14, 14, 0) 66.73%, rgba(14, 14, 14, 0.943838) 99.93%), url(../images/jpg/img-banner-header.jpg) no-repeat;
    background-size: cover;
}

/* .img-header-style:after {
    content: "";
    
    position: absolute;
    z-index: 3;
    top: 0px;
}
 */

 body {
     background-color: var(--base-color);
 }

.content-info-courses {
    position: relative;
    background: var(--gray-color-one);
    height: 457px;
    padding-right: 34px;
}

@media (max-width: 767px) {
    .content-info-courses {
        padding-left: 34px;
    }
}

.content-info-courses::after {
    content:"";
    position:absolute;
    width: 150px;
    height: 100%;
    background: var(--gray-color-one);
    left: -80px;
    top: 0px;
    z-index: 2;
    transform: skew(-10deg, 0deg);
    }

.bton-carrousel-style {
    border-radius: 50%;
    height: 15px !important;
    width: 15px !important;
    background-color: var(--acent-two-color) !important;
}

.text-home-principal {
    color: var(--color-white);
    font-size: var(--twenty-eight);
    position: relative;
    z-index: 3;
    width: 545px;
    font-family: var(--text-titles);
}

@media (max-width: 1399px) {
    .text-home-principal {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .text-home-principal {
        width: 340px;
    }
}

@media (max-width: 1399px) {
    .text-home-principal {
        font-size: var(--twenty-four);
    }
}

@media (max-width: 767px) {
    .text-home-principal{
        font-size: var(--twenty);
    }
}

.text-frontend {
    color: var(--color-green);
}

.text-backend {
    color: var(--color-orange);
}

.text-full-stack {
    color: #F3305F;
}

.text-free {
    color: var(--acent-two-color);
    font-family: var(--text-titles);
    font-size: var(--twenty-eight);
    z-index: 3;
}

@media (max-width: 1399px) {
    .text-free {
        font-size: var(--twenty-four);
    }
}

@media (max-width: 767px) {
    .text-free {
        font-size: var(--twenty);
    }
}

.box-btn-go-courses {
    width: 540px;
}

@media (max-width: 1399px) {
    .box-btn-go-courses {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .box-btn-go-courses {
        width: 340px;
    }
}

.box-btn-go-courses,
.content-btn-discord,
.content-btn-youtube,
.content-btn-facebook {
    height: 50px;
    background:  linear-gradient(180deg, #1A6DFF 0%, #C822FF 100%);
    position: relative;
    padding: 2px;
    z-index: 3;
    border-radius: 5px;
    border: solid 2px transparent;
    outline: none;
    border-radius: 5px;
    background-clip: padding-box;
    font-family: var(--text-titles);
    font-size: var(--twenty);
}

@media (max-width: 767px) {
    .box-btn-go-courses,
    .content-btn-discord,
    .content-btn-youtube,
    .content-btn-facebook{
    font-size: var(--sixteen);
    }
}

.btn-go-courses,
.btn-discord,
.btn-youtube,
.btn-facebook {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: var(--dark-color-one);
    text-decoration: none;
    color: var(--color-white);
    -webkit-text-stroke: 0.5px  var(--acent-one-color) ;
}

.btn-go-courses:hover, .btn-go-courses:visited, .btn-go-courses:link,
.btn-discord:hover, .btn-discord:visited, .btn-discord:link,
.btn-youtube:hover, .btn-youtube:visited, .btn-youtube:link,
.btn-facebook:hover, .btn-facebook:visited, .btn-facebook:link {
    color: var(--color-white);
}


.line-separator-header {
    width: 540px;
    height: 2px;
    z-index: 3;
    background-color: var(--acent-two-color);
}

@media (max-width: 1399px) {
    .line-separator-header {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .line-separator-header{
        width: 340px;
    }
}

.text-join {
    color: var(--color-white);
    font-family: var(--text-titles);
    font-size: var(--eightteen);
    z-index: 3;
}

@media (max-width: 767px) {
    .text-join{
        font-size: var(--fourteen);
    }
}

.text-carrousel-one {
    color: var(--color-white);
    font-size: var(--twenty-four);
    font-family: var(--text-titles);
    margin-left: 34px;
    width: 550px;
}

@media (max-width: 1399px) {
    .text-carrousel-one {
        font-size: var(--twenty);
        width: 450px;
    }
}

@media (max-width: 992px) {
    .text-carrousel-one {
        font-size: var(--eightteen);
        width: 300px;
    }
}

@media (max-width: 767px) {
    .text-carrousel-one {
        font-size: var(--eightteen);
        width: 420px;
    }
}

.line-divide-body-two,
.line-divide-body-one {
    width: 60%;
    height: 50px;
}

@media (max-width: 1091px) {
    .line-divide-body-two,
    .line-divide-body-one {
        height: 28px;
    }
}

@media (max-width: 767px) {
    .line-divide-body-two,
    .line-divide-body-one {
        height: 20px;
    }
}

.line-divide-body-one {
    background: linear-gradient(270deg, #4930EE -5.06%, #FFFCFF 141.48%);
}

.line-divide-body-two {
    background: linear-gradient(-270deg, #4930EE -5.06%, #FFFCFF 141.48%);

}

.btn-join-principal-content {
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    width: 427px;
    bottom: 15px;
    z-index: 4;
}

@media (max-width: 1091px) {
    .btn-join-principal-content {
        height: 62.15px;
        width: 340px;
    }
}

@media (max-width: 767px) {
    .btn-join-principal-content {
        height: 49.35px;
        width: 270px ;
    }
}

.btn-join-principal {
    background: url(../images/svg/btn-join-principal.svg) no-repeat;
    height: 80px;
    width: 427px;
    position: absolute;
}

@media (max-width: 1091px) {
    .btn-join-principal{
        background-size: 340px 62.15px;
        height: 62.15px;
        width: 340px ;
    }
}

@media (max-width: 767px) {
    .btn-join-principal{
        background-size: 270px 49.35px;
        height: 49.35px;
        width: 270px ;
    }
}