:root {
    /* Colors */
    --dark-color-one: #0E0E0E;
    --gray-color-one: #292929;
    --base-color: #1F2430;
    --acent-one-color: #4930EE;
    --acent-two-color: #07F0FF;
    --acent-color-three: #300A48;
    --color-white: #fff;
    --color-green: #28E547;
    --color-orange: #ED930B;
    --color-red: #F3305F;

    /*font-size*/
    --twenty-eight: 28px;
    --twenty-four: 24px;
    --twenty: 20px;
    --eightteen: 18px;
    --sixteen: 16px;
    --fourteen: 14px;

    /*font-family*/
    --text-titles: 'Righteous', cursive;
    --text-body: 'K2D', sans-serif;
}

.nav-container {
    background-color: var(--dark-color-one);
    height: 100px;
    padding: 0 34px 0 34px;
}

/* .img-header-style {
    height: 457px;
    position: relative;
    z-index: -1;
}
 */
.content-img-banner {
    height: 457px;
    background: linear-gradient(180.08deg, #0E0E0E -9.98%, rgba(14, 14, 14, 0.0677083) 34.67%, rgba(14, 14, 14, 0) 66.73%, rgba(14, 14, 14, 0.943838) 99.93%), url(../images/jpg/img-banner-header.jpg) no-repeat;
    background-size: cover;
}

/* .img-header-style:after {
    content: "";
    
    position: absolute;
    z-index: 3;
    top: 0px;
}
 */

 body {
     background-color: var(--base-color);
 }

.content-info-courses {
    position: relative;
    background: var(--gray-color-one);
    height: 457px;
    padding-right: 34px;
}

@media (max-width: 767px) {
    .content-info-courses {
        padding-left: 34px;
    }
}

.content-info-courses::after {
    content:"";
    position:absolute;
    width: 150px;
    height: 100%;
    background: var(--gray-color-one);
    left: -80px;
    top: 0px;
    z-index: 2;
    transform: skew(-10deg, 0deg);
    }

.bton-carrousel-style {
    border-radius: 50%;
    height: 15px !important;
    width: 15px !important;
    background-color: var(--acent-two-color) !important;
}

.text-home-principal {
    color: var(--color-white);
    font-size: var(--twenty-eight);
    position: relative;
    z-index: 3;
    width: 545px;
    font-family: var(--text-titles);
}

@media (max-width: 1399px) {
    .text-home-principal {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .text-home-principal {
        width: 320px;
        text-align: center;
    }
}


@media (max-width: 1399px) {
    .text-home-principal {
        font-size: var(--twenty-four);
    }
}

@media (max-width: 767px) {
    .text-home-principal{
        font-size: var(--twenty);
    }
}

.text-frontend {
    color: var(--color-green);
}

.text-backend {
    color: var(--color-orange);
}

.text-full-stack {
    color: #F3305F;
}

.text-free {
    color: var(--acent-two-color);
    font-family: var(--text-titles);
    font-size: var(--twenty-eight);
    z-index: 3;
}

@media (max-width: 1399px) {
    .text-free {
        font-size: var(--twenty-four);
    }
}

@media (max-width: 767px) {
    .text-free {
        font-size: var(--twenty);
    }
}

.box-btn-go-courses {
    width: 540px;
}

@media (max-width: 1399px) {
    .box-btn-go-courses {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .box-btn-go-courses {
        width: 340px;
    }
}

.content-bton-workshop-send {
    width: 667px;
}

@media (max-width: 1880px) {
    .content-bton-workshop-send {
        width: 567px ;
    }
}

@media (max-width: 1780px) {
    .content-bton-workshop-send {
        width: 467px ;
    }
}

@media (max-width: 1540px) {
    .content-bton-workshop-send {
        width: 200px ;
    }
}

@media (max-width: 1399px) {
    .content-bton-workshop-send {
        width: 648px ;
    }
}

@media (max-width: 1120px) {
    .content-bton-workshop-send {
        width: 548px ;
    }
}

@media (max-width: 920px) {
    .content-bton-workshop-send {
        width: 448px ;
    }
}

@media (max-width: 767px) {
    .content-bton-workshop-send {
        width: 200px ;
    }
}

.box-btn-go-courses,
.content-btn-discord,
.content-btn-youtube,
.content-btn-facebook,
.content-bton-workshop-send {
    height: 50px;
    background:  linear-gradient(180deg, #1A6DFF 0%, #C822FF 100%);
    position: relative;
    padding: 2px;
    z-index: 3;
    border-radius: 5px;
    border: solid 2px transparent;
    outline: none;
    border-radius: 5px;
    background-clip: padding-box;
    font-family: var(--text-titles);
    font-size: var(--twenty);
}

@media (max-width: 767px) {
    .box-btn-go-courses,
    .content-btn-discord,
    .content-btn-youtube,
    .content-btn-facebook{
    font-size: var(--sixteen);
    }
}

.btn-go-courses,
.btn-discord,
.btn-youtube,
.btn-facebook,
.bton-workshop-send {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: var(--dark-color-one);
    text-decoration: none;
    border: none;
    color: var(--color-white);
    -webkit-text-stroke: 0.5px  var(--acent-one-color) ;
}

.btn-go-courses:hover, .btn-go-courses:visited, .btn-go-courses:link,
.btn-discord:hover, .btn-discord:visited, .btn-discord:link,
.btn-youtube:hover, .btn-youtube:visited, .btn-youtube:link,
.btn-facebook:hover, .btn-facebook:visited, .btn-facebook:link {
    color: var(--color-white);
}


.line-separator-header {
    width: 540px;
    height: 2px;
    z-index: 3;
    background-color: var(--acent-two-color);
}

@media (max-width: 1399px) {
    .line-separator-header {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .line-separator-header{
        width: 340px;
    }
}

.text-join {
    color: var(--color-white);
    font-family: var(--text-titles);
    font-size: var(--eightteen);
    z-index: 3;
}

@media (max-width: 767px) {
    .text-join{
        font-size: var(--fourteen);
    }
}

.text-carrousel-one {
    color: var(--color-white);
    font-size: var(--twenty-four);
    font-family: var(--text-titles);
    margin-left: 34px;
    width: 550px;
}

@media (max-width: 1399px) {
    .text-carrousel-one {
        font-size: var(--twenty);
        width: 450px;
    }
}

@media (max-width: 992px) {
    .text-carrousel-one {
        font-size: var(--eightteen);
        width: 300px;
    }
}

@media (max-width: 767px) {
    .text-carrousel-one {
        font-size: var(--eightteen);
        width: 420px;
    }
}

.line-divide-body-two,
.line-divide-body-one {
    width: 60%;
    height: 50px;
}

@media (max-width: 1091px) {
    .line-divide-body-two,
    .line-divide-body-one {
        height: 28px;
    }
}

@media (max-width: 767px) {
    .line-divide-body-two,
    .line-divide-body-one {
        height: 20px;
    }
}

.line-divide-body-one {
    background: linear-gradient(270deg, #4930EE -5.06%, #FFFCFF 141.48%);
}

.line-divide-body-two {
    background: linear-gradient(-270deg, #4930EE -5.06%, #FFFCFF 141.48%);

}

.btn-join-principal-content {
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    width: 427px;
    bottom: 15px;
    z-index: 4;
}

@media (max-width: 1091px) {
    .btn-join-principal-content {
        height: 62.15px;
        width: 340px;
    }
}

@media (max-width: 767px) {
    .btn-join-principal-content {
        height: 49.35px;
        width: 270px ;
    }
}

.btn-join-principal {
    background: url(../images/svg/btn-join-principal.svg) no-repeat;
    height: 80px;
    width: 427px;
    position: absolute;
}

@media (max-width: 1091px) {
    .btn-join-principal{
        background-size: 340px 62.15px;
        height: 62.15px;
        width: 340px ;
    }
}

@media (max-width: 767px) {
    .btn-join-principal{
        background-size: 270px 49.35px;
        height: 49.35px;
        width: 270px ;
    }
}

.box-information {
    background-color: var(--dark-color-one);
    width: 1024px;
    height: 466px;
}

@media (max-width: 1399px) {
    .box-information{
        width: 100%;
    }
}

.section-workshops {
    padding: 0 36px;
}

.title-form {
    font-size: var(--twenty-four);
    color: var(--color-white);
    font-family: var(--text-titles);
    text-align: center;
}

@media (max-width: 1540px) {
    .title-form {
        font-size: var(--twenty);
    }
}

@media (max-width: 1399px) {
    .title-form {
        font-size: var(--twenty-four);
    }
}

@media (max-width: 767px) {
    .title-form {
        font-size: var(--twenty);
    }
}

.inputs-workshops {
    width: 300px;
    height: 40px;
    outline: none;
    background: radial-gradient(110% 110% at 50% 50%, rgba(7, 240, 255, 0.26) 0%, rgba(7, 240, 255, 0) 100%), #1F2430;
    border: none;
    font-family: var(--text-body);
    color: var(--acent-two-color);
}

@media (max-width: 1880px) {
    .inputs-workshops{
        width: 250px ;
    }
}

@media (max-width: 1780px) {
    .inputs-workshops{
        width: 200px ;
    }
}

@media (max-width: 1540px) {
    .inputs-workshops{
        margin-top: 0px !important;
        height: 35px;
    }
}

@media (max-width: 1399px) {
    .inputs-workshops{
        width: 300px;
        height: 40px;
    }
}

@media (max-width: 767px) {
    .inputs-workshops{
        margin-top: 0px !important;
        height: 35px;
    }
}

@media (max-width: 1120px) {
    .inputs-workshops {
        width: 250px ;
    }
}

@media (max-width: 920px) {
    .inputs-workshops {
        width: 200px ;
    }
}

.inputs-workshops::placeholder {
    font-family: var(--text-body);
    color: rgba(226, 223, 223, 0.22);
}

.label-text-form {
    color: var(--color-white);
    font-family: var(--text-titles);
    font-size: var(--sixteen);
}

@media (max-width: 1540px) {
    .label-text-form {
        margin: 0 !important;
    }
}

@media (max-width: 1540px) {
    .label-text-form-responsive {
        margin-top: 16px !important;
    }
}

@media (max-width: 1399px) {
    .label-text-form-responsive {
        margin-bottom: 24px !important;
    }
}


@media (max-width: 1399px) {
    .label-text-form-responsive {
        margin-top: 0 !important;
    }
}

@media (max-width: 767px) {
    .label-text-form-responsive {
        margin-top: 16px !important;
        margin-bottom: 0 !important;
    }
}

@media (max-width: 1399px) {
    .label-text-form-responsive-two {
        margin-right: 48px !important;
    }
}

@media (max-width: 767px) {
    .label-text-form-responsive-two {
        margin-right: 0 !important;
    }
}


.content-info-worshops-mentors {
    height: 466px;
    width: 806px;
    background: linear-gradient(269.99deg, #4930EE -67.55%, #1F2430 138.83%);
}

@media (max-width: 1399px) {
    .content-info-worshops-mentors  {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .content-info-worshops-mentors {
        height: auto;
    }
}

.title-workshops {
    font-size: var(--twenty-four);
}

@media (max-width: 1540px) {
    .title-workshops {
        font-size: var(--twenty);
    }
}

@media (max-width: 1399px) {
    .title-workshops {
        font-size: var(--twenty-four);
    }
}

@media (max-width: 767px) {
    .title-workshops {
        font-size: var(--twenty);
    }
}

.name-mentor-workshop,
.time-title,
.time {
    font-size: var(--sixteen);
}

.title-workshop {
    font-size: var(--twenty);
}

@media (max-width: 767px) {
    .title-workshop {
        font-size: var(--eightteen);
        text-align: center;
    }
}

.title-workshops,
.name-mentor-workshop,
.title-workshop,
.time-title,
.time {
    font-family: var(--text-titles);
    color: var(--color-white);
}

.content-workshops-recent {
    height: 330px;
    width: 740px;
    background-color: var(--acent-one-color);
    padding: 32px 32px;
}

@media (max-width: 900px) {
    .content-workshops-recent {
        height: 330px;
        width: 600px;
        padding: 16px 16px;
    }
}

@media (max-width: 767px) {
    .content-workshops-recent {
        height: auto;
        width: 400px;
        padding: 8px 8px;
    }
}

@media (max-width: 575px) {
    .content-workshops-recent {
        width: 380px;
    }
}

.content-btn-carrousel-workshop-one {
    left: -25px;
}

.content-btn-carrousel-workshop-two {
    right: -25px;
}

.content-btn-carrousel-workshop-one,
.content-btn-carrousel-workshop-two {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--acent-color-three);
    top: 140px;
}

.img-workshop {
    height: 127px;
    width: 127px;
}

.description-workshop {
    color: var(--color-white);
    font-size: var(--sixteen);
    font-family: var(--text-body);
    width: 100%;
}

@media (max-width: 767px) {
    .description-workshop {
        font-size: var(--fourteen);
    }
}


.content-info-flyer-workshop{
    width: 520px;
}

@media (max-width: 900px) {
    .content-info-flyer-workshop {
        width: 400px ;
    }
}

@media (max-width: 767px) {
    .content-info-flyer-workshop {
        width: 200px ;
    }
}


.slide-item-workshop {
    height: 100%;
    width: 100%;
}

.line-divisor-time-event {
    height: 1px;
    width: 100%;
    background-color: var(--color-white);
}

.decorator-form {
    width: 115.68px;
    height: 115.68px;
}

@media (max-width: 1780px) {
    .decorator-form {
        width: 80px ;
        height: 80px;
    }
}

@media (max-width: 1600px) {
    .decorator-form {
        width: 50px ;
        height: 50px;
    }
}

@media (max-width: 1399px) {
    .decorator-form {
        width: 150px ;
        height: 150px;
    }
}

@media (max-width: 1120px) {
    .decorator-form {
        width: 100px ;
        height: 100px;
    }
}

@media (max-width: 900px) {
    .decorator-form {
        width: 70px ;
        height: 70px;
    }
}

@media (max-width: 1540px) {
    .content-country-times {
        flex-direction: column !important;
        align-items: center;
    }
}

@media (max-width: 1540px) {
    .content-country-times-one{
        margin-bottom: 16px;
    }
}

@media (max-width: 1540px) {
    .content-inputs-form{
        flex-direction: column !important;
    }
}

@media (max-width: 1399px) {
    .content-inputs-form {
        flex-direction: row !important;
    }
}

@media (max-width: 767px) {
    .content-inputs-form {
        flex-direction: column !important;
    }
}

.content-global-form-workshops {
    padding-left: 34px;
    padding-right: 34px;
}
